body {
    background-color: #b19682;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(232, 223, 214);
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-area {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: auto;
    max-height: 600px;
    border: 2px solid #fff;
    background-color: #d8c3b0;
    padding: 10px;
}

.girl img {
    width: 100%;
    max-width: 180px;
}

.dresses img{
    position: absolute;
    left: 15%;
    cursor: pointer;
    height: auto; 
    width: 100%;
    z-index: 10;
}

.dresses #grayTshirt {
    max-width: 133px;
    top: 15%;
}

.dresses #blueJeans {
    max-width: 122px;
    top: 43%;
}

@media (max-width: 1300px) {

    .play-area {
        width: 100%;
        max-width: 300px;
    }

    .dresses img{
        left: 5%
    }
}

@media (max-width: 700px) {
    .container {
      flex-direction: column;
      gap: 20px;
    }

    .dresses img{
        position: relative;
    }

    .dresses{
        order: 2;
    }
  }
